        body, button, input, label, select, td, textarea { 
            font-family: 'Assistant', sans-serif;
            letter-spacing: 2px;
            font-size: 12px;
            color: #1d2129;
            line-height: 1.34;
            margin: 0;
            padding: 0;
        }


        h1 {
            color: #fff;
            font-family: 'Spirax', cursive;
            letter-spacing: 2px;
        }
        
        h2 {
            bottom: 50px;
            color: #162643;
            font-size: 20px;
            overflow: hidden;
            color: #7daf7d;
        }

        p {
            margin: 1em 7em;
            color: #4e4848;
            font-size: 14px;
        }

        a {
            color: #de8091;
            cursor: pointer;
            text-decoration: none;

        }

        hr {
            background: #d9d9d9;
            border-width: 0;
            color: #d9d9d9;
            height: 1px;
        }
        

        .border {
            border: 1px solid #dddfe2;
        }


        #coverImage .cover {
            display: block;
            position: relative;
        }

        .coverWrap {
            display: block;
            position: relative;
            height: 315px;
            overflow: hidden;
        }

        .fixImage {
            min-height: 47px;
            position: relative;
            width: 100%;
        }

        .profilePicThumb {
                border-radius: 3px;
                display: block;
                left: 23px;
                margin-top: -121px;
                position: absolute;
        }

        .profilePic {
            border: 1px solid #fff;
            height: 160px;
            width: 160px;
        }

        .section {
            background: whitesmoke;
        }

        .fixImage .section {
            border: 1px solid #d3d6db;
            border-radius: 0 0 3px 3px;
        }

        .fixImage .profilePicThumb {
            box-shadow: none;
            left: 15px;
            margin-top: 0;
            top: -143px;
        }

        .fixNav {
            clear: right;
            padding-left: 201px;
        }
        
        .fixTitle {
            bottom: 12px;
            left: 201px;
            position: absolute;
        }

        .layout {
            background: #fff0f2;
        }
        
        .layout #contentArea {
            position: relative;
            width: 851px !important;
        }


        .tab {
            overflow: hidden;
        }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
            color: #de8091;
            font-size: 14px;
            border-left: 1px solid #e9eaed;
            border-top: none;
            border-bottom: none;
            border-right: 1px solid #e9eaed;
            font-weight: bold
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: white;
            color: #4e4848;
        }
        

        * {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}
.caption{
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
        